body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #f0e0e0;
    background-color: rgb(7, 12, 25);

}

header{
 background: linear-gradient( rgba(255,255,255, 0.2), rgba(255, 225, 225, 0));
}
.container {
    width: 1140px;

}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    padding-left: 2rem;
    
}
.navEl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li {
    display: inline-block;
}
li{
    margin: 0 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.landing{
   margin: 30px 0px;
   

}
.container-input{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.spendtable{

    margin: 30px 0px;
    padding: 10px;
}
.input{

    margin: 30px 0px;
    padding: 10px;
}

.inputblock {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
}

label{
    margin: 5px;
    padding: 5px;
}

.spendtable {
    margin: auto;
}

table {
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-collapse: separate;
}
tbody {
    display: table-row-group;

}
tr {
    display: table-row;
}

th {
    background-color: rgb(201, 181, 219);
    color: black;

}
td , th {
    width:80px;
}
tr{
    background-color: bisque;
    color: rgb(16, 32, 33);
}
